<section id="about" class="bg-white dark:bg-gray-800 rounded-lg shadow-md p-6 mb-6 animate-fade-in hover:shadow-lg transition-shadow transform hover:translate-y-[-5px] transition-transform duration-300">
  <h2 class="text-2xl font-bold text-gray-800 dark:text-white mb-4">About Me</h2>
  <div class="prose max-w-none dark:prose-invert">
    <p class="mb-4 text-gray-700 dark:text-gray-300">
      I'm a skilled full-stack developer with a passion for creating beautiful, functional, and user-centered digital experiences. With 5+ years of experience in the field, I am always looking for new and innovative ways to bring my clients' visions to life.
    </p>
    <p class="mb-4 text-gray-700 dark:text-gray-300">
      I can help you build a product, feature or website. Look through some of my work and experience! If you like what you see and have a project you need coded, don't hesitate to contact me.
    </p>
  </div>
  
  <div class="mt-6">
<!--    <a href="#projects" class="btn-primary mr-3 transform transition-transform hover:scale-105">View My Projects</a>-->
<!--    <a href="/assets/resume.pdf" target="_blank" class="btn-outline transform transition-transform hover:scale-105">Download Resume-->

<!--    </a>-->


      <a href="/assets/resume.pdf" target="_blank" class="btn-outline transform transition-transform hover:scale-105">
          <span>Download Resume</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 11c0-1.1.9-2 2-2h4m-6 2v6m0-6h-2a2 2 0 00-2 2v4m10-10V4a1 1 0 00-1-1h-6.586a1 1 0 00-.707.293l-5.414 5.414a1 1 0 00-.293.707V20a1 1 0 001 1h12a1 1 0 001-1v-9z" />
          </svg>
      </a>

  </div>
</section>
