<section id="about" class="bg-white dark:bg-gray-800 rounded-lg shadow-md p-6 mb-6 animate-fade-in hover:shadow-lg transition-shadow transform hover:translate-y-[-5px] transition-transform duration-300">
  <h2 class="text-2xl font-bold text-gray-800 dark:text-white mb-4">About Me</h2>
    <div class="prose max-w-none dark:prose-invert">
        <p class="mb-4 text-gray-700 dark:text-gray-300">
            I'm a passionate and results-driven full-stack developer with over 5 years of experience building user-centric, scalable, and high-performing digital solutions. I specialize in creating elegant and functional applications using technologies like Java, Spring, and Angular.
        </p>
        <p class="mb-4 text-gray-700 dark:text-gray-300">
            Whether you need a product, a feature, or a complete web application, I can help bring your vision to life. Browse through my portfolio to see examples of my work—if something resonates with you, don’t hesitate to reach out.
        </p>
        <p class="mb-4 text-gray-700 dark:text-gray-300">
            My journey in software engineering has equipped me with deep technical expertise and a problem-solving mindset. I’ve consistently delivered innovative solutions across a variety of domains, always prioritizing quality, performance, and user experience. I thrive in collaborative environments where I can contribute to building impactful, cloud-native software.
        </p>
        <p class="mb-4 text-gray-700 dark:text-gray-300">
            Outside of work, I’m committed to continuous learning and staying up to date with the latest advancements in technology. I enjoy connecting with fellow professionals to exchange ideas and build software that drives positive change.
        </p>
        <p class="mb-4 text-gray-700 dark:text-gray-300">
            If you’re looking for a dedicated full-stack developer who combines technical expertise with a passion for delivering value, I’d love to chat. Let’s explore how we can collaborate to build something great.
        </p>
    </div>

  
  <div class="mt-6">
<!--    <a href="#projects" class="btn-primary mr-3 transform transition-transform hover:scale-105">View My Projects</a>-->
<!--    <a href="/assets/resume.pdf" target="_blank" class="btn-outline transform transition-transform hover:scale-105">Download Resume-->

<!--    </a>-->


      <a href="/assets/resume.pdf" target="_blank" class="btn-outline transform transition-transform hover:scale-105">
          <span>Download Resume</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 11c0-1.1.9-2 2-2h4m-6 2v6m0-6h-2a2 2 0 00-2 2v4m10-10V4a1 1 0 00-1-1h-6.586a1 1 0 00-.707.293l-5.414 5.414a1 1 0 00-.293.707V20a1 1 0 001 1h12a1 1 0 001-1v-9z" />
          </svg>
      </a>

  </div>
</section>
